<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://appfunctionsagar2023.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/538b8b39-5f90-47d9-9df4-56d07ca90505/resourceGroups/RG-Test-Apr2023/providers/Microsoft.Web/sites/appfunctionsagar2023</ResourceId>
    <UserName>$appfunctionsagar2023</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://appfunctionsagar2023.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>